@page "/search"
@using RSG.Library.Service;
@inject RSG.Library.Service.SearchService SearchService
<h3>Search</h3>
<p>
    Search a given string using a specific method of searching like <i>brute-force</i>.
</p>
@code {

}
